colorama==0.4.6
Cython==3.0.12
einops==0.8.1
matplotlib==3.7.1
mpi4py==4.0.3
numpy==1.24.3
opencv_python==4.8.0.74
optuna==4.2.1
Pillow==11.1.0
scipy==1.10.1
timm==0.9.5
torch==2.0.0+cu118
tqdm==4.65.0
transformers==4.29.2
yacs==0.1.8
